// client/src/styles/global.scss
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  overflow-x: hidden; // Prevent horizontal scroll during animations
  transition: background-color 0.3s ease;
}

h2 {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}
